<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <h2><span class="badge bg-primary"><img class="text-white" src="../../assets/images/ae-tree.svg" /></span></h2>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse text-white">
            <h2>Auto Exotic Service Calculator</h2>
        </div>
    </div>
</nav>